@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/subset-ProximaNova-Light.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/subset-ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/subset-ProximaNova-Bold.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/subset-ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/subset-ProximaNova-Black.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/subset-ProximaNova-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/subset-ProximaNova-Extrabld.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/subset-ProximaNova-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova/subset-ProximaNova-Regular.eot') format('embedded-opentype'),
		url('../fonts/ProximaNova/subset-ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}