// Colors
$color-main: #ffc107;
$color-contast: #202123;

// Fonts
$font-main: 'Montserrat', 'Arial', sans-serif;

// Transitions
$transition-smooth: cubic-bezier(1, 0, 0, 1);

// Media
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;