header.header#header
	canvas.header__background
	include ../../_modules/navbar/navbar

	.header__content
		.header__textzone
			h1.title 
				| Hi, i'm Ben
				br
				| Front-End Developer
			a.button(href="#contacts") Contact Me